body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9; /* لون خلفية الصفحة */
    color: #333; /* لون النص الرئيسي */
}

header, nav, main, footer {
    padding: 20px;
    background-color: #333; /* لون خلفية رؤوس الصفحة */
    color: #fff; /* لون النص في رؤوس الصفحة */
}

h1 {
    margin-top: 0;
    font-size: 2em;
}

nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    color: #fff;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

footer {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

@media (max-width: 768px) {
}